body {
    font-family: sans-serif;
    background-color: #cff;
    margin-top: 0;
}

h1{
    background-color: SkyBlue;
    color: #000080;
    font-family: garamond;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

img{
    border-radius:100%;
}

