body {
    font-family: sans-serif;
    background-color: #cff;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    
}
.container{
   max-width: 800px;
   margin: 0 auto;
}

p{
   padding-left: 20px;
   padding-right: 20px;    
}

h1{
    background-color: SkyBlue;
    color: #000080;
    font-family: garamond;
    margin-top: 0;
    text-align: center;
}

.menu{
    font-family: Arial;
    color: white;
    background-color: MidnightBlue;
    margin-top: 0;
}


.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

img{
    border-radius:100%;
    text-align: center;
}

